*{
	font-family:rockwell;
	
}
body{
	background:lightgrey;
	width:270px;
	height:400px;
	padding:10px;
}
header{
	text-align:center;
}
h1{
	color:teal;
	padding:5px;
	display:inline;
}
/*#settings{
	float:right;
	display: inline;
	cursor:pointer;
}*/
article{
	height:85%;
	margin: 10px 0px;
	
}
article div input{
	margin:0px 15px 5px;
	width:95%;
	height:25px;
	
}
div{
	word-wrap:break-word;
}
article div ol {
	font-size:14px;
	margin:10px  0px;
	overflow:auto;
	height:300px;
}
li{
	margin-bottom:6px;
}
a{
	text-decoration:none;
	color:black;
}